@font-face {
  font-family: "Alimama ShuHeiTi-Bold";
  src: url("../assets/fonts/AlimamaShuHeiTi-Bold.ttf");
}
.admin-user-edit-container {
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
  padding: 0 16px;
  .admin-user-edit-submit-container {
    width: calc(100%);
    //margin-top: 16px;
  }
  button.submit {
    //margin-top: 16px;
  }
}
