@font-face {
  font-family: "Alimama ShuHeiTi-Bold";
  src: url("../assets/fonts/AlimamaShuHeiTi-Bold.ttf");
}
.index-container {
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
  padding: 16px;
  .index-submit-container {
    width: calc(100%);
    margin-top: 16px;
  }
  button.toggle-boss-window {
    margin-top: 16px;
  }
}
