@font-face {
  font-family: "Alimama ShuHeiTi-Bold";
  src: url("../assets/fonts/AlimamaShuHeiTi-Bold.ttf");
}
.index-container {
  width: 100%;
  background-color: #f0f2f5;
  
  .index-submit-container {
    width: calc(100% - 0.5rem);
    margin: 0.25rem;
  }
}
